@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.form {
  @apply flex flex-col items-center justify-center;
  background-image: url("/22917.jpg");
}

.input:focus {
  @apply outline-none border-blue-500 p-1;
}

.input{
  @apply rounded p-1;
}